/* ***********************************
**** Училищна Телерик Академия ****
*********************************** */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header nav {
    text-align: right;
    padding-right: 20px;
}

header input {
    margin-left: 75%;
    width: 23%;
}

header nav ul li {
    display: inline-block;
    color: #0645ad;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 1em;
}

section {
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100%;
    color: #0645ad;
    text-decoration: none;
    cursor: pointer;
    background-color: #F6F6F6;
}

section ul li {
    list-style: none;
    font-size: .8rem;
    margin-top: 10px;
}

header nav ul li:hover,
section ul li:hover {
    text-decoration: underline;
}

main {
    padding-left: 200px;
    padding-top: 24px;
    width: 100%;
}

main h1 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.3;
    font-size: 1.8rem;
    font-weight: 150;
}

main hr {
    width: 100%;
}

main h5 {
    margin-top: 10px;
    font-weight: 200;
}

main p {
    margin-top: 10px;
}

footer {
    padding-left: 220px;
    color: #aeb3b7;
}

footer summary {
    font-size: 0.75em;
}

footer p {
    margin: 10px;
    font-size: 0.6em;
}

footer img {
    margin-right: 10px;
    margin-top: 10px;
}

footer img:hover {
    cursor: pointer;
}