/* ***********************************
**** Училищна Телерик Академия ****
*********************************** */

* {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
}

table caption {
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

table {
    font-size: 0.85rem;
    width: 100%;
    border: unset;
    border-spacing: 30px;
    border-collapse: separate;
}

td {
    vertical-align: top;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .12);
    border: 1px solid #e4e8f0;
    border-radius: 5px;
    padding: 15px;
}

td h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    font-size: 2em;
}

tfoot td {
    background: #0742cd;
    border: 1px solid #0742cd;
    box-shadow: 0 6px 18px 0 #bdd0fd;
    transition: all 350ms ease;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

tfoot td:hover {
    box-shadow: 0 6px 30px 0 #739bfa;
    cursor: pointer;
}

tfoot td a {
    text-decoration: unset;
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

tbody tr td:hover {
    box-shadow: 0 6px 18px 0 #bdd0fd;
    transition: box-shadow 350ms ease-in-out;
}