/* Премахване на всички отстояния по подразбиране */
* {
    margin: 0;
    padding: 0;
}

/* Стилизиране на заглавната лента */
body>header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    margin-top: 0px;
    padding: 5px 30px;
    background: #fff;
    border-bottom: 1px solid #ececec;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Стилизиране на изображенията за лога */
body>header>div:nth-child(1) {
    max-width: 200px;
    display: flex;
    align-items: center;
}

body>header>div:nth-child(1)>img:first-child {
    width: 60px;
    margin-right: 10px;
}

/* Стилизиране на елементите за търсене */
body>header>div:nth-child(2) {
    width: 60%;
    min-width: 360px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
}

body>header>div:nth-child(2)>input[placeholder*="Търсенe"] {
    padding-left: 36px;
    background-color: #ffffff;
    color: #202122;
    border: 1px solid #a2a9b1;
    box-shadow: inset 0 0 0 1px transparent;
    min-width: 256px;
    height: 32px;
    width: 60%;
    padding: 0px 8px;
}

body>header>div:nth-child(2)>button[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    color: #202122;
    min-width: 32px;
    height: 34px;
    padding: 0 11px;
    font-weight: 600;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .25s;
    margin-left: -5px;
}

body>header>div:nth-child(2)>button[type="submit"]:hover {
    cursor: pointer;
    background-color: #eaecf0;
    border: 1px solid #72777d;
}

/* Основна част на уебстраницата */
body {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
}

/* Стилизиране на навигацията отляво */
body>nav {
    width: 192px;
    max-width: 20%;
    height: 60vh;
    padding: 8px;
    margin-top: 12px;
    background-color: #ffffff;
}

body>nav>ul>li {
    padding-bottom: 10px;
}

body>nav>ul>li>a[href] {
    padding-bottom: 15px;
    margin: 20px;
    transition-property: color, text-decoration;
    transition-duration: .25s;
    color: blue;
}

body>nav>ul>li>a[href]:hover {
    color: #202122;
    text-decoration: none;
}

/* Стилизиране на основната част на уебстраницата */
body>main {
    min-width: 55%;
    max-width: 76%;
    margin: 16px 20px;
}

/* Стилизиране на заглавията в основната част на уебстраницата */
body>main>header>h1 {
    font-size: 34px;
    line-height: 1.375;
    font-weight: 200;
}

body>main>header>h3 {
    font-style: italic;
    font-weight: 100;
    margin-bottom: 6px;
}

/* Стилизиране на хоризонталната навигация */
body>main>header>nav>ul>li {
    padding: 12px 7px;
    display: inline;
}

body>main>header>nav>ul {
    margin: 10px 0;
}

body>main>header>nav>ul>li>a {
    color: #202122;
    text-decoration: none;
    padding: 10px 5px 10px 0;
    transition-property: color, text-decoration;
    transition-duration: .25s;
}

body>main>header>nav>ul>li>a:hover {
    color: #72777d;
    text-decoration: underline;
}

body>main>header>nav>ul>li:nth-child(2)>a {
    color: red;
    padding-right: 20%;
}

body>main>header>nav>ul>li:nth-child(1) {
    padding-left: 0;
}

/* Стилизиране на хоризонталните линии */
body>main hr {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* Стилизиране на параграфите в основната статия */
body>main>article>p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}

/* Стилизиране на заглавията на секциите */
body>main>section>h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

/* Стилизиране на списъците в основната статия */
body>main>section>ul {
    margin: 16px;
}

body>main>section>ul>li>a[href] {
    text-decoration: none;
    color: blue;
}

/* Стилизиране на финалната секция */
body>footer {
    padding: 10px 3%;
    margin-bottom: 10px;
    background-color: #eaecf054;
    width: 88%;
}

body>footer>details {
    margin: 10px;
}

body>footer>p>a[href] {
    text-decoration: none;
    color: blue;
}

@media only screen and (max-width: 640px) {

    /* Скриване на лентата за търсене и навигацията отляво */
    header>div:nth-child(2),
    header>div:nth-child(2)>input,
    header>div:nth-child(2)>button {
        visibility: hidden;
        display: none;
    }

    body>header>div:nth-child(2) {
        padding: 0;
        margin: 0;
    }

    body>main {
        width: 90%;
        min-width: 90%;
        margin: 16px;
    }
}

@media only screen and (max-width: 1034px) {

    /* Скриване на лентата за търсене и навигацията отляво */
    body>nav {
        visibility: hidden;
        display: none;
    }

    body>main {
        min-width: 90%;
        margin: 16px;
    }
}