body {
    padding: 0 10px;
}

.tap-target.large {
    /* transform: scale(3.6) ;  */
    transform: scale(3.6) translate(0, 0) !important;
}

.dropzones,
.exapme-descriptions {
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.instructions {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
}

.dropzones>p {
    width: 120px;
    margin-right: 10px;
}

.exapme-descriptions>div>p {
    width: 164px;
    margin: 5px 7px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.dropzone {
    background-color: #DFDFF9;
    border: dashed 4px transparent;
    margin: 0 5px;
    padding: 0px;
    /* width: 160px; */
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #354BAF;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    padding: 0px;
    margin: 5px 1px;

    color: #fff;
    background-color: #FFD12A;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #47DB01;

}

#fullpage {
    display: none;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.471);
}