/* ************************************* */
/* **** Училищна Телерик Академия ****   */
/* ************************************* */

/* Селектор за всички (всеки) елемент във файла */
* {
    font-family: 'Comfortaa', cursive;
}

fieldset {
    width: 75%;
    box-shadow: 0 6px 14px 0 #efefef;

    /* Комбинацията от следващите три команди може да бъде написана и на един ред */
    border-width: 1px;
    border-style: solid;
    border-color: #e4e8f0;

    border-radius: 5px;
    /* Вътрешно отстояние (от текста до рамката на елемента) */
    padding: 15px;
    /* Външно отстояние (от елемента до съседните елеметни) */
    margin: 30px;
}

legend {
    font-size: 26px;
    /* Дебелина на шрифта */
    font-weight: 100;
}

button {
    width: 25%;
    font-size: 16px;
    /* Дебелина на шрифта */
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #1161FF;
    /* Премахване на рамката */
    border: none;
    border-radius: 40px;
    /* Вътрешно отстояние (от текста до рамката на елемента) */
    padding: 15px;
}

textarea {
    width: 400px;
    border-radius: 10px;
    background-color: #FBFCFD;
    /* Външно отстояние (от елемента до съседните елеметни) */
    margin: 5px;
    /* Вътрешно отстояние (от текста до рамката на елемента) */
    padding: 10px;
    /* Премахване на рамката */
    /* border: none; */
}

input {
    width: 400px;
    border-radius: 10px;
    background-color: #FBFCFD;
    /* Външно отстояние (от елемента до съседните елеметни) */
    margin: 5px;
    /* Вътрешно отстояние (от текста до рамката на елемента) */
    padding: 10px;
    /* Премахване на рамката */
    /* border: none; */
}