
.--button-container {display:flex;justify-content: center;margin-bottom: 2rem;}
.--code-button {text-transform:uppercase;margin-top:4px;min-width: 200px;}

input::placeholder {
font-family: 'Lato', sans-serif;
font-weight: 100
}

* {
font-family: 'Lato', sans-serif;
font-weight: 100
}

.banner {
padding: 6%;
margin-top: 0;
text-align: center
}

a {
text-decoration: none;
}

.container {
max-width: 960px
}

.pricing-header {
max-width: 700px
}

.btn.btn-primary {
text-transform: uppercase
}

#examples-list a {
font-size: 1.2rem;
font-weight: 300
}

::selection {
background-color: #0d6efd;
color: #fff
}

span.--description {
color: #a8a8a8;
font-weight: 400;
}