/* ************************************* */
/* **** Училищна Телерик Академия ****   */
/* ************************************* */

.mybutton {
    box-shadow: 2px 4px 3px 0px #cf866c;
    background-color:#d0451b;
    border-radius:42px;
    
	cursor:pointer;
    color:#ffffff;
    font-size:13px;
    padding:8px 36px;
    text-decoration:none;
}

.mybutton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}

.BUTTON_AUY {
    box-shadow:  2px 4px 3px 0 #CF866C;
    background: #D0451B;
    border-radius: 42px;
    
    cursor: pointer;
    color: #FFFFFF;
    font-size: 13px;
    padding:8px 36px;
    text-decoration:none;
}

.BUTTON_AUY:hover {
   background: #BC3315;
   border-radius: 5px;
}

button {
    background-color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    box-shadow: 2px 4px 3px 0px #23243c4a;
    border: none;
    color: #0f30eb;
    text-transform: uppercase;

    transition: background-color 3s 10ms ease,
                color 5s 0s ease,
                transform 10s;
}

button:hover {
    background-color: #0f30eb;
    color: #fff;

    /* border: 1px solid #000;
    border-width: 1px;
    border-style: solid;
    border-color: #000; */

    /* transition-property: all; */
    /* transition-duration: 3s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: ease; */

    transform: scale(2) rotate(360deg);
    transition: background-color 3s 10ms ease,
                color 5s 0s ease, 
                transform 10s;

    -webkit-animation: rotate-scale-up 1s 2 both;
	        animation: rotate-scale-up 1s 2 both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
