/* ************************************* */
/* **** Училищна Телерик Академия ****   */
/* ************************************* */

.mybutton {
    box-shadow: 2px 4px 3px 0px #cf866c;
	/* background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%); */
    background-color:#d0451b;
    border-radius:42px;
    display: inline-block;
	cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 13px;
    padding: 8px 36px;
    text-decoration: none;
}

.mybutton:hover {
	background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
    /* color: #fbc3c3; */
    /* width: 250px; */
}

.BUTTON_AUY {
    box-shadow: 2px 4px 3px 0 #CF866C;
    background: #D0451B;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 13px;
    padding:8px 36px;
    text-decoration:none;
}

.BUTTON_AUY:hover {
   border: solid #337FED 0;
   background: #BC3315;
   border-radius: 5px;
   text-decoration: none;
}

