/* ***********************************
**** Училищна Телерик Академия ****
*********************************** */


* {
    font-family: 'Comfortaa';
}

fieldset {
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .12);
    border: rgba(0, 0, 0, .12);
    margin-bottom: 16px;
    background-color: #fff;
}

legend {
    font-size: 26px;
}

button {
    background-color: #ff0051;
    box-shadow: 1px 1px 16px 0px #ff4d85dd;
    font-size: 16px;
    padding: 16px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border: 0;
}

input {
    margin: 10px;
    padding: 5px;
    border: none;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .12);
    background-color: aliceblue;
}

textarea {
    margin: 10px;
    padding: 5px;
    border: none;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .12);
    background-color: aliceblue;
}

fieldset {
    margin: 10px 16px;
}

h6 {
    font-size: 32px;
    margin: 16px;
    margin-bottom: 24px;
    font-weight: 100;
}