/* ***********************************
**** Училищна Телерик Академия ****
*********************************** */

* {
    font-family: 'Poiret One', cursive;
}

p {
    font-size: 12px;
}

table {
    border-spacing: 30px;
    border-collapse: separate;
}

caption {
    font-size: 40px;
    text-align: left;
}

td {
    padding: 15px;
    box-shadow: 0px 6px 14px 0px gray;
    border: 1px solid;
    border-color: gainsboro;
    border-radius: 5px;
}

h2 {
    font-size: 20px;
}