/* ************************************* */
/* **** Училищна Телерик Академия ****   */
/* ************************************* */

.buttons {
    box-shadow:  2px 4px 3px 0 #CF866C;
    background: #D0451B;
    border-radius: 42px;
    display: inline;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 13px;
    padding:8px 36px;
    text-decoration:none;
    /* transition: background 1s; */
    width: 100px;
}

.buttons:hover {
   background: #BC3315;
   border-radius: 5px;
   /* transition: background 1s; */
   /* border-radius 2s; */
}

.second-buttons {
    box-shadow:  2px 4px 3px 0 #f9e2d9;
    background: #eda28c;
}

.second-buttons:hover {
    background: #5b3831;
}

#special-button:hover {
    /* transform: rotate(360deg); */
    /* transition: transform 0s 4s; */
    background: #030303;
}

p {
    font-family: 'Underdog', cursive;
}