/* ***********************************
**** Училищна Телерик Академия ****
*********************************** */


/* Създаване на селектор за всички етикети (тагове) button в документа */
button {
    /* Промяна на заоблянето на рамката */
    border-radius: 40px; 
    /* Промяна на вътрешните отстъпи на бутоните */
    padding: 10px; 
    /* Промяна на фоновия цвят на бутоните */
    background-color: rgb(13, 0, 255);
}

/* Създаване на селектор за всички етикети (тагове) legend в документа */
legend {
    /* Промяна на размера на текста */
    /* Същата характеристика променяме на още две места във файла, за да видим коя промяна ще се отрази */
    font-size: 60px;
}