/* ***********************************
**** Училищна Телерик Академия ****
*********************************** */

/* Не сме учили нещата в този файл */

* {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
}

input[type=text],
fieldset>textarea[placeholder],
fieldset>select {
    margin: 5px 10px;
    padding: 5px;
    width: 50%;
}

input[type=radio] {
    margin-left: 10px;
    margin-bottom: 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #f1f1f1;
    vertical-align: middle;

    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

input[type=radio]:hover {
    background-color: #f7f7f7;
}

input[type=radio]:checked {
    background-color: #bdd0fd;
}

button[type] {
    padding: 10px;
    margin: 5px 5px 5px 10px;
    color: white;
    background: #1161FF;
    border: 1px solid #1161FF;
    box-shadow: 0 6px 18px 0 #bdd0fd;
    transition: all 350ms ease;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

button[type]:hover {
    box-shadow: 0 6px 30px 0 #739bfa;
    cursor: pointer;
}

fieldset {
    vertical-align: top;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .12);
    border: 1px solid #e4e8f0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    width: 75%;
}

fieldset>legend {
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

fieldset:hover {
    box-shadow: 0 6px 18px 0 #bdd0fd;
    transition: box-shadow 350ms ease-in-out;
}